include LICENSE.txt
include README.rst
include CHANGES.rst
include requirements*txt

# docs
recursive-include docs *

# tests
recursive-include pygeoid/coordinates/test *

global-exclude __pycache__ *.pyc

