include LICENSE.txt
include README.rst
include CODE_OF_CONDUCT.md
include requirements*txt
include Pipfile*

# logo
recursive-include logo *

# docs
recursive-include docs *

# data
recursive-include pygeoid/reduction/data *

# tests
recursive-include pygeoid/tests *

global-exclude __pycache__ *.pyc

include versioneer.py
include pygeoid/_version.py
