[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pint = "*"
pyproj = "*"
scipy = "*"
pyshtools = "*"
sphinx = "*"
numpydoc = "*"
matplotlib = "*"


[dev-packages]

pytest = "*"
coverage = "*"
coveralls = "*"
