[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pint = "*"
pyproj="*"
scipy = "*"
pandas = "*"
pyshtools = "*"
matplotlib = "*"
joblib = "*"
pytest-runner = "*"
sphinx = "*"
versioneer = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
coverage = "*"
coveralls = "*"
sphinx = "*"
numpydoc = "*"
