[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pint = "*"
pyproj="*"
scipy = "*"
pandas = "*"
pyshtools = "*"
joblib = "*"
pytest-runner = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
pytest = "*"
pytest-runner = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
numpydoc = "*"
versioneer = "*"
