-i https://pypi.python.org/simple
alabaster==0.7.12
astropy==3.1
babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.8
imagesize==1.1.0
jinja2==2.10
joblib==0.13.0
kiwisolver==1.0.1
markupsafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
numpydoc==0.8.0
packaging==18.0
pandas==0.23.4
pint==0.8.1
pygments==2.3.1
pyparsing==2.3.0
pyproj==1.9.5.1
pyshtools==4.4.1
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
scipy==1.1.0
six==1.12.0
snowballstemmer==1.2.1
sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
